<div class="box-add container mt-4 p-5 w-50">
    <h1>Update Customer</h1>
    <hr class="mb-4">
    <form>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" required formControlName="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" required formControlName="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Tel_phone</label>
            <input type="text" class="form-control" required formControlName="tel_phone">
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <button type="button"  class=" btn-info">Save</button>
        </div>
    </form>
</div>